@mixin adaptive($device) {
  @if $device == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $device == desctop {
    @media (max-width: 1280px) {
      @content;
    }
  }
}

@mixin btn($type) {
  @if $type == primary {

    font-size: 17px;
    height: 58px;
    font-weight: bold;
    line-height: 20px;
    color: white;
    margin: 0 10px 0 0;
    padding: 14px 37px;
    border: 2px solid $blue;
    background: $blue;
    transition: all 0.4s ease 0s;
    border-radius: 100px;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $blue;
      background: transparent;
    }

  } @else if $type == inverse {

    font-size: 17px;
    height: 58px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 10px 10px 0px;
    padding: 14px 37px;
    border: 2px solid $blue;
    background: transparent;
    color: $blue;
    transition: all 0.4s ease 0s;
    border-radius: 100px;
    cursor: pointer;
    outline: none;

    &:hover {
      background: $blue;
      color: white;
    }

  } @else if $type == brick {

    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    padding: 20px 50px;
    height: 65px;
    border: none;
    background: #3eb0f7;
    transition: all 0.4s;
    color: white;
    border-radius: 4px;

    &:hover {
      background: $blueHover;
    }

  } @else if $type == min {

    margin: 5px 0 15px;
    border: 0;
    font-size: 17px;
    padding: 6px 35px;
    height: 40px;
    background: #3eb0f7;
    transition: all 0.4s;
    color: white;
    border-radius: 4px;

    &:hover {
      background: $blueHover;
    }

  }
}

@mixin form {
  input,
  textarea {
    color: rgb(51, 51, 51);
    height: 55px;
    border: 1px solid white;
    width: 100%;
    padding: 5px 15px;
    margin: 7px 0;
    outline-color: $blue;
    transition: 1s;
  }

  [type="text"],
  [type="email"],
  [name='message'] {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
  }

  [name='message'] {
    height: 120px;
  }

  [type="submit"] {
    border: 0;
    font-size: 17px;
    background-color: $blue;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    outline: none;

    &:hover {
      background-color: rgb(39, 163, 240);
    }
  }
}
